@import url(https://fonts.googleapis.com/css?family=Open+Sans);

td, th {
    padding: 5px
}

h3, tbody {
    color: sienna
}

body {
    background-color: #ffe4e1;
    color: #fff
}

span#btndiv {
    margin-left: 20px
}

.clselements {
    display: inline-flex
}

.container, table, td {
    color: #fff
}

table {
    font-family: Arial,sans-serif;
    border: 2px solid #fff;
    background-color: salmon
}

th {
    background-color: #f8f8f8
}

td {
    border: 1px solid
}

.container {
    padding: 2rem 0
}

#btndiv {
    background-color: #708090
}

.products {
    padding: 8px 12px;
    color: #b22222;
    background-color: #f5f5f5;
    border: 1px solid #deb887;
    cursor: pointer;
    border-radius: 5px
}

h3 {
    font-family: 'Open Sans',serif
}
